.table input {
    width: 100%;
    height: 100%;
}
.table textarea {
    width: 100%;
    height: 100%;
}
.lableCheck
{
    vertical-align:bottom; margin-bottom:unset
}
input[name="status"] {
    width: 15px;
    height:15px;
    vertical-align:bottom;
}